

<div class="sidebar_section">
  <div class="user_name">
    <div class="contant_wrapper">
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        <span>Merkuery</span>
    </div>
  </div>
  <ul class="list_parent">
    <li class="item_list">
      <div class="hover_item"></div>
      <div class="contant_wrapper_item">
          <i class="fa fa-home" aria-hidden="true"></i>
          <span>Home</span>
      </div>
    </li>

    <li class="item_list">
        <div class="hover_item"></div>
        <div class="contant_wrapper_item">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>WorkFlow</span>
        </div>
    </li>
    <li class="item_list">
            <div class="hover_item"></div>
            <div class="contant_wrapper_item">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <span>Statistics</span>
            </div>
        </li>
    <li class="item_list">
        <div class="hover_item"></div>
        <div class="contant_wrapper_item">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <span>Calendar</span>
        </div>
        </li>
    <li class="item_list">
        <div class="hover_item"></div>
        <div class="contant_wrapper_item">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Users</span>
        </div>
        </li>
    <li class="item_list">
        <div class="hover_item"></div>
        <div class="contant_wrapper_item">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Settings</span>
        </div>
    </li>
  </ul>

</div>
